body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

#points { 
    height: 25vw;
    min-height: 200px;
    margin-left: 35%;
    font-size:150%;
    background-color: #f5f5dd;
    color: #300000;
}
header{ 
    background-color: #000000;
    color: #00005D;
    /* width: 100%; */
    /* min-width:1000px; */
    padding: 2% 2% 0 15%;
    min-height: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
header img{
    max-width: 100px;
    height: auto;
}
h2 { 
    color: #e7e7dc; 
    font-family: arial, sans-serif;
    font-size:200%;
}
.content {
    padding: 3%; 
} 
.movie {
    width: 20%;
    padding: 5px 30px;
    margin: auto;
    display: inline-block;
}
.movie img {
    width: 100%;
}
.movie p {
    text-align: center;
    color: #f5f5dd;
}
.movie a {
    text-decoration: none;
}
.movie:hover img {
    opacity: 0.7;;
}
.movie:hover p {
    color: grey;
}
#floatleft { 
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}

.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}

nav{
    float: right;
    margin-right: 5%;
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    line-height: 100px;
    width: 100px;
    position: relative;
    bottom: -30px;
}

footer { 
    background-color: #000000; 
    font-size:0.7vw;
    text-align: center;
    clear: right;
    padding: 1% 0;
    color: #FFFFFF;
    padding: 15px;
    line-height: 15px;
} 

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

#wrapper { 
    background-color: #333333; 
    color: #000066;
    width: 100%;
    margin: auto;
    min-width:720px;
}
#leftcolumn { 
    width: 10%;
    float: left;
    min-width:80px;
} 
#rightcolumn { 
    margin-left: 155px;
    background-color: #f5f5dd;
    color: #000000;
    min-width:720px;
    min-height: 400px;
}

main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}