body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

#points { 
    height: 25vw;
    min-height: 200px;
    margin-left: 35%;
    font-size:150%;
    background-color: #f5f5dd;
    color: #300000;
}
/* Header starts here */
header{ 
    background-color: #000000;
    color: #00005D;
    /* width: 100%; */
    /* min-width:1000px; */
    padding: 1% 7% 1% 7%;
    min-height: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
header img{
    object-fit: contain;
    max-width: 300px;
    min-width: 200px;
}

.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}

nav{
    position: absolute;
    top: 130px;
    right: 5%;
    display: inline-block;
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    /* line-height: 100px; */
    width: 100px;
}

/* Header ends here */

/* Content starts here */

h2 { 
    color: #e7e7dc; 
    font-family: arial, sans-serif;
    font-size:200%;
}
.content {
    padding: 3%; 
    display: inline-block;
    width: 20%;
    padding: 5px 30px;
    margin: auto;
}
.movie img {
    width: 100%;
}
.movie p {
    text-align: center;
    color: #f5f5dd;
}
.movie a {
    text-decoration: none;
}
.movie:hover img {
    opacity: 0.7;;
}
.movie:hover p {
    color: grey;
}
#floatleft { 
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}
#wrapper { 
    background-color: #333333; 
    color: #000066;
    width: 100%;
    margin: auto;
    min-width:720px;
}
#leftcolumn { 
    width: 10%;
    float: left;
    min-width:80px;
} 
#rightcolumn { 
    margin-left: 155px;
    background-color: #f5f5dd;
    color: #000000;
    min-width:720px;
    min-height: 400px;
}

main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}