:root {
    --bg_grey: #333;
  }
body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

#points { 
    height: 25vw;
    min-height: 200px;
    margin-left: 35%;
    font-size:150%;
    background-color: #f5f5dd;
    color: #300000;
}
/* Header starts here */
header{ 
    background-color: #000000;
    /* width: 100%; */
    /* min-width:1000px; */
    padding: 1% 7% 1% 7%;
    min-height: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
header img{
    /* object-fit: contain; */
    max-width: 300px;
    min-width: 200px;
}

.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}

nav{
    position: absolute;
    top: 130px;
    right: 5%;
    display: inline-block;
    color: #f5f5dd;
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    /* line-height: 100px; */
    width: 100px;
}
/* Header ends here */

/* Content starts here */
a {
    text-decoration: underline;
    color: #FFFFFF;
    vertical-align: baseline;
    width: 100px;
}
h2 {
    font-size:150%;
    letter-spacing: 2px;
    word-spacing: 10px;
    color: #fff;
}
.content {
    padding: 3%; 
}
.center {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
}
input[type='submit'] {
    align-items: center;
    width: 115px;
    margin: 5px;
}
input[name="login_info"] {
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 0.4em;
    margin: 10px;
}
label {
    text-align: left;
    position: absolute;
    left: 0px;
    margin-left: 20%;
    font-size: 80%;
    padding-top: 10px;
}
p {
    font-size: 75%;
}
#wrapper { 
    background-color: #333333; 
    color: #fcfcfc;
    width: 100%;
    margin: auto;
    min-width:720px;
}

/* Content ends here */

/* Footer starts here */
footer { 
    background-color: #000000; 
    font-size:0.7vw;
    text-align: center;
    clear: right;
    padding: 1% 0;
    color: #FFFFFF;
    padding: 15px;
    line-height: 15px;
} 

footer a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Footer ends here */

main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}