body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}
/* Header starts here */
header{ 
    background-color: #000000;
    color: #00005D;
    /* width: 100%; */
    /* min-width:1000px; */
    padding: 1% 7% 1% 7%;
    min-height: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
header img{
    object-fit: contain;
    max-width: 300px;
    min-width: 200px;
}
.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}
nav{
    position: absolute;
    top: 130px;
    right: 5%;
    display: inline-block;
}
nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    /* line-height: 100px; */
    width: 100px;
}

/* Header ends here */

/* Content starts here */

h2 { 
    color: #e7e7dc; 
    font-family: arial, sans-serif;
    font-size:200%;
}
.content {
    padding: 3%; 
} 

#wrapper { 
    background-color: #333333; 
    color: #000066;
    width: 100%;
    margin: auto;
    min-width:720px;
}

.row1 {
    margin: 3%;
    padding-bottom: 1%; 
    min-height: 120px;
}

.row1 img {
    max-width: 22%;
    height: auto;
}

.row1 h2 {
    margin-left:30%;
}

.row1 p {
    margin-left:30%;
    margin-right: 2%;
    padding: 2% 3% 2% 3%;
    background-color: #c1bdbd;

}

.row2 {
    margin: 3%;
}

.contactjoin {
    width: 49%;
    display: inline-block;
    
}

.contactjoin img {
    width: 30%;
    padding: 5% 35% 5% 35%;
    height: 200px;
    background-color: #c1bdbd;
}

.contactjoin p {
    text-align: center;
    color: #ffffff;
}

.contactjoin a {
    text-decoration: none;
}
.contactjoin:hover img {
    opacity: 0.7;
}
.contactjoin:hover p {
    color: grey;
}

/* Content ends here */

/* Footer starts here */
footer { 
    background-color: #000000; 
    font-size:0.7vw;
    text-align: center;
    clear: right;
    padding: 1% 0;
    color: #FFFFFF;
    padding: 15px;
    line-height: 15px;
} 

footer a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Footer ends here */




main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}