body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

#points { 
    height: 25vw;
    min-height: 200px;
    margin-left: 35%;
    font-size:150%;
    background-color: #f5f5dd;
    color: #300000;
}
/* Header starts here */
header{ 
    background-color: #000000;
    color: #00005D;
    /* width: 100%; */
    /* min-width:1000px; */
    padding: 1% 7% 1% 7%;
    min-height: 100px;
    max-height: 150px;
    vertical-align: bottom;
}
header img{
    object-fit: contain;
    max-width: 300px;
    min-width: 200px;
}

.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}

nav{
    position: absolute;
    top: 130px;
    right: 5%;
    display: inline-block;
}

nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    /* line-height: 100px; */
    width: 100px;
}

/* Header ends here */

/* Content starts here */

h2 { 
    font-size:200%;
    letter-spacing: 2px;
    word-spacing: 10px;
}
.content {
    padding: 3%; 
}
.description {
    display: inline-block;
    width: 40%;
    padding: 5px 10px;
    color: #e7e7dc; 
    font-family: arial, sans-serif;
    min-width: 300px;
    position: relative;
    vertical-align: top;
}
.movie { 
    display: inline-block;
    padding: 5px 5%px 5px 20px;
    margin-left: 10%;
    margin-top: 25px;
    width: 35%;
}
.movie img {
    width: 100%;
    max-width: 350px;
    display: inline-block;
    /* float: left; */
    /* margin-bottom: 10%; */
}
select {
    width: 160px;
}
#seats {
    min-width: 400px;
    line-height: 200%;
}
input[type='submit'] {
    margin-left: 100px;
    align-items: center;
    width: 115px;
}
.free_seat[type='checkbox'] {
    width: 25px;
    height: 20px;
}
.free_seat[type='checkbox']:after{
    content: '';
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 0.25em;
    background-color: rgb(224,224,224);
}

.free_seat[type='checkbox']:checked:after {
    width: 25px;
    height: 20px;
    background-color: #2196F3;
}
.taken_seat[type='checkbox'] {
    width: 25px;
    height: 20px;
}
.taken_seat[type='checkbox']:after{
    content: '';
    display: inline-block;
    width: 25px;
    height: 20px;
    border-radius: 0.25em;
    background-color: rgb(224,224,224);
}
.taken_seat[type='checkbox']:checked:after {
    background: #f0540c;
}
label {
    padding: 5px;
}
#screen {
    margin: 10px 0px;
    width:310px;
    height:30px;
    border:1px solid #000;
    text-align: center;
    color: #000;
    border-radius: 0.25em;
    background-color: rgb(224, 224, 224);
}
#floatleft { 
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}
#wrapper { 
    background-color: #333333; 
    color: #000066;
    width: 100%;
    margin: auto;
    min-width:720px;
}
#leftcolumn { 
    width: 10%;
    float: left;
    min-width:80px;
} 
#rightcolumn { 
    margin-left: 155px;
    background-color: #f5f5dd;
    color: #000000;
    min-width:720px;
    min-height: 400px;
}

/* Content ends here */

/* Footer starts here */
footer { 
    background-color: #000000; 
    font-size:0.7vw;
    text-align: center;
    clear: right;
    padding: 1% 0;
    color: #FFFFFF;
    padding: 15px;
    line-height: 15px;
} 

footer a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Footer ends here */

main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}

