
body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #FFFFFF;
}

#points { 
    height: 25vw;
    min-height: 200px;
    margin-left: 35%;
    font-size:150%;
    background-color: #f5f5dd;
    color: #300000;
}
/* Header starts here */
header{ 
    background-color: #000000;
    color: #00005D;
    padding: 1% 7% 1% 7%;
    height: 150px;
    vertical-align: bottom;
    position: relative;
}
header img{
    max-width: 300px;
    min-width: 200px;
    position: absolute;
    left: 10%;
}
nav{
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: inline-block;
}
nav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFFFFF;
    vertical-align: baseline;
    width: 100px;
}

/* Header ends here */

/* Content starts here */

h2 { 
    color: #e7e7dc; 
    font-family: arial, sans-serif;
    font-size:200%;
}
.content {
    padding: 3%; 
} 
.movie { 
    display: inline-block;
    width: 20%;
    padding: 5px 30px;
    margin: auto;
}
.movie img {
    width: 100%;
}
.movie p {
    text-align: center;
    color: #f5f5dd;
}
.movie a {
    text-decoration: none;
}
.movie:hover img {
    opacity: 0.7;;
}
.movie:hover p {
    color: grey;
}
#floatleft { 
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}
#wrapper { 
    background-color: #333333; 
    color: #000066;
    width: 100%;
    margin: auto;
    min-width:720px;
}
#leftcolumn { 
    width: 10%;
    float: left;
    min-width:80px;
} 
#rightcolumn { 
    margin-left: 155px;
    background-color: #f5f5dd;
    color: #000000;
    min-width:720px;
    min-height: 400px;
}

table {margin: auto; border: 5px solid #C1BDBD; width: 75%; border-spacing: 0;}
    th {width: 20%; color: #300000; border: 2px solid #C1BDBD; text-align:left; padding: 3%;}
    td {width: 80%; font-weight:normal;color: #300000; border: 2px solid #C1BDBD; text-align:left; padding: 1%;}
    tr:nth-of-type(odd) {background-color: #908E8E; }
    tr:nth-of-type(even) {background-color: #908E8E; }
    td input { width:45px;
}

/* Content ends here */

/* Footer starts here */
footer { 
    background-color: #000000; 
    font-size:0.7vw;
    text-align: center;
    clear: right;
    padding: 1% 0;
    color: #FFFFFF;
    padding: 15px;
    line-height: 15px;
} 

footer a {
    text-decoration: none;
    color: #FFFFFF;
}
/* Footer ends here */

main {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}